.SideBar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  transition: all 0.3s ease;
}

.logo {
  display: flex;
  height: 5rem;
  font-weight: bold;
  font-size: calc(20px + 1vw);
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 4%;
  color: #57a4ff;
}

.logo > img {
  margin-left: 1rem;
  width: calc(2rem + 1vw);
  height: calc(2rem + 1vw);
}

.logo > span > span {
  color: var(--pink);
}
